<div class='wrapper' style="background:#f2f0de;">
  <!--<c:if test="${fn:length(sessionScope.errMessage) > 0}">
    <H4 style='color: red;'>${sessionScope.errMessage}</h4>
  </c:if>
  <c:if test="${fn:length(sessionScope.successMessage) > 0}">
    <H4 style='color: green;'>${sessionScope.successMessage}</h4>
  </c:if>-->
  <div class='logout_wrapper'>
    <!--<p><a [routerLink]="['/login']">Logout</a></p>-->
    <a (click)="logout()"><button>LOGOUT</button></a>
  </div>
  <br>
  <h2>Register a flight</h2>
  <br>
  <div class='event_wrapper' style="background:#fff;">
    <h3>Please complete the details:</h3>
    <br>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-field">
        <label>Your Name: </label>
        <input type="text" size="15" formControlName="name" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
        <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
             class="alert alert-danger">
          <div *ngIf="f.name.errors.required">
            <small>Required</small>
          </div>
          <div *ngIf="f.name.errors.minlength">
            <small>Must be at least 4 characters</small>
          </div>
          <div *ngIf="f.name.errors.pattern">
            <small>Must be letters with no space</small>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label>Family: </label>
        <input type="text" size="15" formControlName="family" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.family.errors }" />
        <div *ngIf="f.family.invalid && (f.family.dirty || f.family.touched)"
             class="alert alert-danger">
          <div *ngIf="f.family.errors.required">
            <small>Required</small>
          </div>
          <div *ngIf="f.family.errors.minlength">
            <small>Must be at least 4 characters long</small>
          </div>
          <div *ngIf="f.family.errors.pattern">
            <small>Must be letters with no space</small>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label>National Code: </label>
        <input type="text" size="10" formControlName="nationalCode" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.nationalCode.errors }" />
        <div *ngIf="f.nationalCode.invalid && (f.nationalCode.dirty || f.nationalCode.touched)"
             class="alert alert-danger">
          <div *ngIf="f.nationalCode.errors.required">
            <small>Required</small>
          </div>
          <div *ngIf="f.nationalCode.errors.pattern">
            <small>Must be 10 digit</small>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label>Flight From: </label>
        <select formControlName="from" class="form-control">
          <option value='' label="Select City">
          <option value="TEHRAN" label="TEHRAN">
          <option value="CHABAHAR" label="CHABAHAR">
        </select>
        <div *ngIf="f.from.invalid && (f.from.dirty || f.from.touched)"
             class="alert alert-danger">
          <div *ngIf="f.from.errors.required">
            <small>Required</small>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label>Flight To: </label>
        <select formControlName="to" class="form-control">
          <option value='' label="Select City">
          <option value="TEHRAN" label="TEHRAN">
          <option value="CHABAHAR" label="CHABAHAR">
        </select>
        <div *ngIf="f.to.invalid && (f.to.dirty || f.to.touched)"
             class="alert alert-danger">
          <div *ngIf="f.to.errors.required">
            <small>Required</small>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label>Airplane Type: </label>
        <select formControlName="airplaneId" class="form-control">
          <ng-container>
            <ng-container>
              <option value='' label="Select Airplane">
            </ng-container>
            <ng-container *ngFor="let airplane of airplanes">
              <option value='{{airplane.id}}' label="{{airplane.airplaneType}}--{{airplane.id}}">
            </ng-container>
          </ng-container>
        </select>
        <div *ngIf="f.airplaneId.invalid && (f.airplaneId.dirty || f.airplaneId.touched)"
             class="alert alert-danger">
          <div *ngIf="f.airplaneId.errors.required">
            <small>Required</small>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label>Flight Class : </label>
        <select formControlName="flightClass" class="form-control">
          <option value='' label="Select Class">
          <option value="GOLD" label="GOLD">
        </select>
        <div *ngIf="f.flightClass.invalid && (f.flightClass.dirty || f.flightClass.touched)"
             class="alert alert-danger">
          <div *ngIf="f.flightClass.errors.required">
            <small>Required</small>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label>Seat/s : </label>
        <input type="number" formControlName="seat" size="2" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.seat.errors }"/>
        <div *ngIf="f.seat.invalid && (f.seat.dirty || f.seat.touched)"
             class="alert alert-danger">
          <div *ngIf="f.seat.errors.required">
            <small>Required</small>
          </div>
          <div *ngIf="f.seat.errors.pattern">
            <small>Must be lower or equal to 50</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="loading || this.registerForm.invalid" class="btn btn-primary">REGISTER</button>
      </div>
      <ng-container *ngIf="error">
        <br>
        <div class="alert alert-danger">{{error}}</div>
      </ng-container>
    </form>
  </div>
  <div class='event_wrapper'>
    <a routerLink="/user/view" routerLinkActive="active"><button>SHOW TICKET/s</button></a>
  </div>
</div>
