﻿
<table>
  <tr>
    <th>Ticket ID</th>
    <th>Flight Date</th>
    <th>Customer ID</th>
    <th>From</th>
    <th>To</th>
    <th>Airplane ID</th>
    <th>Flight</th>
    <th>Copon</th>
    <th>Airline</th>
    <th>create Date</th>
  </tr>
  <tr *ngFor="let ticket of tickets">
    <td>{{ticket.id}}</td>
    <td>{{ticket.date | date:'fullDate'}}</td>
    <td>{{ticket.customerId}}</td>
    <td>{{ticket.from}}</td>
    <td>{{ticket.to}}</td>
    <td>{{ticket.airplaneId}}</td>
    <td>{{ticket.flightClass}}</td>
    <td>{{ticket.copon['offPercentage']}}%</td>
    <td>{{ticket.airLine['airLineName']}}</td>
    <td>{{ticket.createDate | date:'fullDate'}}</td>
  </tr>
</table>
<br>
<div>
  <a routerLink="/user/console" routerLinkActive="active"><button>BACK</button></a>
</div>
