﻿
<table>
  <tr>
    <th>Ticket ID</th>
    <th>Flight Date</th>
    <th>Customer Name</th>
    <th>Customer NationalCode</th>
    <th>Airline</th>
    <th>Flight Class ID</th>
    <th>Airplane Type</th>
    <th>Terminal Number</th>
    <th>From</th>
    <th>To</th>
    <th>Copon Off Percentage</th>
    <th>Copon Name</th>
    <th>Register Date</th>
  </tr>
  <tr *ngFor="let ticket of tickets">
    <td>{{ticket.id}}</td>
    <td>{{ticket.date | date:'fullDate'}}</td>
    <td>{{customers[ticket.id].name}}
      {{customers[ticket.id].family}}</td>
    <td>{{customers[ticket.id].nationalCode}}</td>
    <td>{{ticket.airLine["airLineName"]}}</td>
    <td>{{ticket.flightClass}}</td>
    <td>{{airplanes[ticket.id].airplaneType}}</td>
    <td>{{airplanes[ticket.id].terminalNumber}}</td>
    <td>{{ticket.from}}</td>
    <td>{{ticket.to}}</td>
    <td>{{ticket.copon["coponName"]}}</td>
    <td>{{ticket.copon["offPercentage"]}}</td>
    <td>{{ticket.createDate | date:'fullDate'}}</td>
  </tr>
</table>
<br>
<div>
  <a routerLink="/admin/console" routerLinkActive="active"><button>BACK</button></a>
</div>
