<div class='wrapper'>
  <!--<c:if test="${fn:length(sessionScope.errMessage) > 0}">
    <H4 style='color: red;'>${sessionScope.errMessage}</h4>
  </c:if>
  <c:if test="${fn:length(sessionScope.successMessage) > 0}">
    <H4 style='color: green;'>${sessionScope.successMessage}</h4>
  </c:if>-->
  <div class='btn_wrapper'>
    <a routerLink="/admin/console" routerLinkActive="active"><button>ADMIN</button></a>
  </div>
    <br>
  <div class='btn_wrapper'>
    <a routerLink="/user/console" routerLinkActive="active"><button>CUSTOMER</button></a>
  </div>
    <ng-container *ngIf="logOutMessage">
    <h4 style='color: #25a200;'>{{logOutMessage}}</h4>
  </ng-container>
</div>
