/* You can add global styles to this file, and also import other style files */
button, .btn_wrapper input {
  border-radius: 5px;
  padding: 6px 23px 4px;
  background-color: antiquewhite;
}

.btn_wrapper input {
  margin-top: 15px;
}

button:hover {
  background: #ff9494;
}

input:focus {
  box-shadow: 0 0 2px 2px #888888;
  background: #fff
}

input[type=submit]:hover {
  background: #d9ffc1
}

.wrapper {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 20px;
  border: 3px solid #e9e9e9;
  border-radius: 10px;
}

.event_wrapper {
  padding: 14px 13px 15px;
  border: 1px solid #e9e9e9;
  margin: 0 10px;
  outline: #ccc solid 1px;
  background:#fff;
}


input {
  margin: 5px;
}

select {
  margin: 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.divider {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.error, .alert {
  color: red;
}
