<div class='wrapper' style="background:#f2f0de;">
  <div class='logout_wrapper'>
    <a (click)="logout()"><button>LOGOUT</button></a>
  </div>
  <br>
  <div class='event_wrapper'>
    <h3>List and filter tickets:</h3>
    <br>
    <form [formGroup]="ticketForm" (ngSubmit)="ticketOnSubmit()">

      <div class="form-field">
        <label>Get All Tickets : </label>
        <select formControlName="getBy">
          <option value="all" label="All">
          <option value="ticketId" label="By Ticket ID">
          <option value="customerName" label="By Customer Name">
        </select>
        <div *ngIf="f.getBy.invalid && (f.getBy.dirty || f.getBy.touched)"
             class="alert alert-danger">
          <div *ngIf="f.getBy.errors.required">
            <small>Required</small>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label>Id/Name : </label>
        <input type="text" formControlName="param" class="form-control">
      </div>

      <div class="form-field">
        <label>Sort By : </label>
        <select formControlName="sortBy">
          <option value="customerName" label="Customer Name">
          <option value="bookingDate" label="Booking Date">
        </select>
        <div *ngIf="f.sortBy.invalid && (f.sortBy.dirty || f.sortBy.touched)"
             class="alert alert-danger">
          <div *ngIf="f.sortBy.errors.required">
            <small>Required</small>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <button [disabled]="loading || this.ticketForm.invalid" class="btn btn-primary">VIEW RESULT</button>
      </div>
      <ng-template *ngIf="error">
        <br>
        <div class="alert alert-danger">{{error}}</div>
      </ng-template>
    </form>
  </div>
  <hr class="divider">
  <br>
  <div class='event_wrapper airplane'>
    <ng-container *ngIf="success">
      <h4 style='color: #25a200;'>{{success}}</h4>
    </ng-container>
    <h3>ADD AIRPLANE</h3>
    <br>
    <form [formGroup]="airplaneRegForm" (ngSubmit)="airplaneOnSubmit()">
      <div class="form-field">
        <label>Airplane Type : </label>
        <select formControlName="airplaneType">
          <option value="" label="Select Type">
          <option value="AIRBUS" label="AIRBUS">
          <option value="BOEING" label="BOEING">
        </select>
        <div *ngIf="f2.airplaneType.invalid && (f2.airplaneType.dirty || f2.airplaneType.touched)"
             class="alert alert-danger">
          <div *ngIf="f2.airplaneType.errors.required">
            <small>Required</small>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label>Capacity : </label>
        <input type="number" formControlName="capacity" size="4" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f2.capacity.errors }"/>
        <div *ngIf="f2.capacity.invalid && (f2.capacity.dirty || f2.capacity.touched)"
             class="alert alert-danger">
          <div *ngIf="f2.capacity.errors.required">
            <small>Required</small>
          </div>
          <div *ngIf="f2.capacity.errors.pattern">
            <small>Must be greater than 0</small>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label>Terminal Number : </label>
        <input type="number" formControlName="terminalNumber" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f2.terminalNumber.errors }"/>
        <div *ngIf="f2.terminalNumber.invalid && (f2.terminalNumber.dirty || f2.terminalNumber.touched)"
             class="alert alert-danger">
          <div *ngIf="f2.terminalNumber.errors.required">
            <small>Required</small>
          </div>
          <div *ngIf="f2.terminalNumber.errors.pattern">
            <small>Must be three digits</small>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label>Ticket Price : </label>
        <input type="number" formControlName="price" size="2" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f2.price.errors }"/>
        <div *ngIf="f2.price.invalid && (f2.price.dirty || f2.price.touched)"
             class="alert alert-danger">
          <div *ngIf="f2.price.errors.required">
            <small>Required</small>
          </div>
          <div *ngIf="f2.price.errors.pattern">
            <small>Must be greater than 0</small>
          </div>
        </div>
      </div>

      <br>
      <div class="form-group">
        <button [disabled]="loading || this.airplaneRegForm.invalid" class="btn_wrapper">ADD AIRPLANE</button>
      </div>
      <ng-template *ngIf="error">
        <br>
        <div class="alert alert-danger">{{error}}</div>
      </ng-template>
    </form>
    <br>
    <a routerLink="/admin/view/airplane" routerLinkActive="active"><button>SHOW ALL</button></a>
  </div>

</div>
