﻿
<table>
  <tr>
    <th>Airplane ID</th>
    <th>Airplane Type</th>
    <th>Terminal Number</th>
    <th>Capacity</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let airplane of airplanes">
    <td>{{airplane.id}}</td>
    <td>{{airplane.airplaneType}}</td>
    <td>{{airplane.terminalNumber}}</td>
    <td>{{airplane.capacity}}</td>
    <td>{{airplane.price}}</td>
  </tr>
</table>
<br>
<div>
  <a routerLink="/admin/console" routerLinkActive="active"><button>BACK</button></a>
</div>
